<% provide(:title, @signup.first_name) %>
<div class="row">
	<aside class="clo-md-4">
		<section class="signup_info">
<h1>
	<%= @signup.first_name %> ,
	<%= @signup.last_name %>
</h1>
</section>
</aside>
</div>
